.authorized{
    width: 100%;
    height: 100%;
}
.noAccess{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noAccess img{
    width: 300px;
}
.noAccess>div{
    font-size: 22px;
    line-height: 60px;
    color: #ccc;
}
.backBtn{
    margin-top: 20px;
}